<h1>MURDOC</h1>

<div data-controller="search-nodes">
  <%= form_with url: nodes_path,
    method: :get,
    html: {class: "mb-4", data: {search_nodes_target: "form"}} do |f|
  %>
    <%= f.text_field :query,
      class: "form-control",
      placeholder: "Search nodes",
      value: params[:query],
      data: {
        search_nodes_target: "input",
        action: "keyup->search-nodes#update"
      }
    %>
  <% end %>

<% @nodes.each do |node| %>
  <h2><%= node.name %></h2>
  <p>Category: <%= node.category %></p>
  <p>Documentation: <%= node.documentation %></p>
<% end %>

<%= link_to "Home", root_path %>
