<h1>MURDOC</h1>

  <%= form_with url: nodes_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a node"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  
<% @nodes.each do |node| %>
  <h2><%= node.name %></h2>
  <p>Category: <%= node.category %></p>
  <p>Documentation: <%= node.documentation %></p>
<% end %>

<%= link_to "Home", root_path %>
