<div class="path-view">

  <% if node.respond_to?(:id) %>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">

        <% node.path.each do |node_path_item| %>

          <li class="breadcrumb-item">
            <ul class="list-group">

              <% if node_path_item.siblings.where(category:"module").present? %>

                <li class="list-group-item">

                  <input type="checkbox" class="btn-check" id=<%= node_path_item.id %> autocomplete="off" data-action="click->check#update" data-check-target="path" data-check-id-value=<%= node_path_item.id %> >
                  <label class="btn btn-outline-danger" for=<%= node_path_item.id %>><%= node_path_item.name %></label>

                </li>

                <% node_path_item.siblings.where(category:"module").each do |n| %>
                  <% unless node_path_item.id === n.id %>

                    <li class="list-group-item">

                      <input type="checkbox" class="btn-check" id=<%= n.id %> autocomplete="off" data-action="click->check#update" data-check-target="path" data-check-id-value=<%= n.id %> >
                      <label class="btn btn-outline-danger" for=<%= n.id %>><%= n.name %></label>

                    </li>

                  <% end %>
                <% end %>

              <% else %>
                <li class="list-group-item">

                  <input type="checkbox" class="btn-check" id=<%= node_path_item.id %> autocomplete="off" data-action="click->check#update" data-check-target="path" data-check-id-value=<%= node_path_item.id %> >
                  <label class="btn btn-outline-danger" for=<%= node_path_item.id %>><%= node_path_item.name %></label>

                </li>
              <% end %>

            </ul>
          </li>

        <% end %>

      </ol>
    </nav>
  <% end %>

  <%# <button class="reset-btn">Reset</button> %>

</div>
