<div class="row">

  <div class="col-3" data-controller="search-nodes">
    <div class='card card-parent' style="float: left;">

      <div id='card-text'>
        <div data-search-nodes-target="list">
          <ul>
            <% @nodes.each do |node| %>
              <li><span class="caret"><%= node.name %></span>
                <ul class="nested">
                  <li><p>Category: <%= node.category %></p></li>
                  <li><p>Documentation: <%= node.documentation %></p></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class='inner-search' id='inner-search'>
        <%= render "shared/searchbar" %>
      </div>

    </div>
  </div>

  <div class="row col-6" data-controller="nodes-ajax" >

        <div class="col-12">
          <div class='card-doc'>
            <%= render partial: "pages/documentation", locals: { node: @parent} %>
          </div>
        </div>

        <div class="col-12">
          <div class='card-doc'>
            <%= render partial: "pages/documentation", locals: { node: @parent} %>
          </div>
        </div>

  </div>

  <div class="col-3">
    <div class='card card-parent' style="float: right;">

      <div id='card-text'>
        <div data-search-nodes-target="list">
          <ul>
            <% @nodes.each do |node| %>
              <li><span class="caret"><%= node.name %></span>
                <ul class="nested">
                  <li><p>Category: <%= node.category %></p></li>
                  <li><p>Documentation: <%= node.documentation %></p></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
