<div>
  <%#= render "shared/sidebar" %>
</div>
  <div>
    <%#= render "shared/searchbar" %>
    <div data-controller="search-nodes">
      <div class='card-group'>
        <div class='card card-murdoc'>
          <div id='card-text'>
            <%= render partial: "pages/list", locals: { nodes: @nodes } %>
          </div>
          <div class='inner-search' id='inner-search'>
            <%= render "shared/searchbar" %>
          </div>
        </div>
        <div class='card card-murdoc'>
          <div id='card-text'>
            <%= render partial: "pages/list", locals: { nodes: @nodes.all } %>
          </div>
          <div class='inner-search'>
            <%= render "shared/searchbar" %>
          </div>
        </div>
        <div class='card card-murdoc'>
          <div id='card-text'>
            <%= render partial: "pages/list", locals: { nodes: @nodes.all } %>
          </div>
          <div class='inner-search'>
            <%= render "shared/searchbar" %>
          </div>
        </div>
        <div class='card card-murdoc'>
          <div id='card-text'>
            <%= render partial: "pages/list", locals: { nodes: @nodes.all } %>
          </div>
          <div class='inner-search'>
            <%= render "shared/searchbar" %>
          </div>
        </div>
      </div>
      <div class='card-doc'>
    </div>
   </div>
  </div>
</div>
