<div class="my-grid">

  <div data-controller="search-nodes">
    <div class='card card-parent' style="float: left;">

      <div id='card-text'>
        <div data-search-nodes-target="list">
          <ul>
            <% @nodes.each do |node| %>
              <li><span class="caret"><%= node.name %></span>
                <ul class="nested">
                  <li><% node.children.where(category: "class").each do |child| %>
                   <p><%=child.name %></p>
                  <% end %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class='inner-search' id='inner-search'>
        <%= render "shared/searchbar" %>
      </div>

    </div>
  </div>

  <div class="inner-grid" data-controller="nodes-ajax" >

    <div class='card-doc card-mid-top'>
      <%= render partial: "pages/path_view", locals: { node: @parent} %>
    </div>

    <div class='card-doc'>
      <%= render partial: "pages/documentation", locals: { node: @parent} %>
    </div>

  </div>

  <div class='card card-parent' style="float: right;">

    <%= render partial: "pages/method_list", locals: { node: @parent} %>

  </div>

</div>
