<!DOCTYPE html>
<html>
  <head>
    <title>Murdoc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# added devicon link %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    
  </head>

  <body>
      <div class="my-container">

        <%= render "shared/sidebar" %>

        <div class="container">
          <%= yield %>
        </div>

      </div>
    <%= render "shared/flashes" %>
  </body>
</html>
